{% extends 'receptionist/base_receptionist.html' %}
{% load static %}
{% block page_title %}
Patient Registration & Appointment
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'receptionist/add-patient.css' %}">
{% endblock %}
{% block content %}

<div class="patient-card">

    <h2>Register New Patient</h2>

    {% if success %}

    <div class="success-box">

        Patient Registered Successfully

        <br>

        Patient ID:
        <strong>{{ success }}</strong>

    </div>

    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <p>
    <label>Full Name</label>
    {{ form.full_name }}
</p>

<p>
    <label>Phone Number</label>

    <div class="phone-input-wrapper">
        <span>+91</span>
        {{ form.phone }}
    </div>
</p>

<p>
    <label>Email</label>
    {{ form.email }}
</p>

<p>
    <label>Age</label>
    {{ form.age }}
</p>

<p>
    <label>Gender</label>
    {{ form.gender }}
</p>

<p>
    <label>Address</label>
    {{ form.address }}
</p>

<p>
    <label>Appointment Date</label>
    {{ form.appointment_date }}
</p>

<p>
    <label>Reason For Visit</label>
    {{ form.reason_for_visit }}
</p>

        <button
    type="submit"
    name="register_patient"
    class="submit-btn">

    <i class="fa-solid fa-user-plus"></i>

    Register & Book Appointment

</button>

    </form>

</div>

{% endblock %}