{% extends 'receptionist/base_receptionist.html' %}
{% load static %}

{% block page_title %}
Change Password
{% endblock %}

{% block css %}
<link rel="stylesheet"
href="{% static 'receptionist/change_password.css' %}">
{% endblock %}

{% block content %}

<div class="password-container">

    <div class="password-card">
    {% if success %}
    <p style="color:green;">
        {{ success }}
    </p>
{% endif %}
        <h2>🔒 Change Password</h2>
        <div class="password-rules">

    <h4>Password Requirements</h4>

    <ul>
        <li>Must contain at least 8 characters</li>
        <li>Cannot be too similar to your username</li>
        <li>Cannot be a commonly used password</li>
        <li>Cannot be entirely numeric</li>
        <li>Use a mix of letters, numbers, and symbols for better security</li>
    </ul>

</div>
        <form method="POST">

            {% csrf_token %}

            {% for field in form %}

    <p>

        {{ field.label_tag }}

        {{ field }}

        {% for error in field.errors %}
            <span style="color:red;">
                {{ error }}
            </span>
        {% endfor %}

    </p>

        {% endfor %}

            <button
                type="submit"
                class="save-btn">

                Update Password

            </button>

        </form>

    </div>

</div>

{% endblock %}