{% extends 'receptionist/base_receptionist.html' %}
{% load static %}

{% block page_title %}
Edit Profile
{% endblock %}

{% block css %}
<link rel="stylesheet"
href="{% static 'receptionist/edit_profile.css' %}">
{% endblock %}

{% block content %}

<div class="edit-profile-container">

    <div class="edit-profile-card">

        <h2>Edit Profile</h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="save-btn">

                Save Changes

            </button>

        </form>

    </div>

</div>


{% endblock %}