{% load static %}

<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>Password Changed</title>

<link rel="stylesheet"
      href="{% static 'accounts/password_reset_complete.css' %}">

<link rel="preconnect"
      href="https://fonts.googleapis.com">

<link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>

<link
    href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


<div class="password-card">

    <div class="success-icon">

        <i class="fa-solid fa-check"></i>

    </div>


    <h2>
        Password Changed Successfully
    </h2>


    <p>
        Your password has been updated.
    </p>


    <a href="{% url 'staff_login' %}">

        <i class="fa-solid fa-arrow-right"></i>

        &nbsp; Login

    </a>

</div>