{% extends 'patients/base_patient.html' %}
{% load static %}

{% block title %}
Medical History
{% endblock %}


{% block page_title %}
Medical History
{% endblock %}


{% block page_subtitle %}
Your complete appointment history.
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'patients/history.css' %}">
{% endblock %}



{% block content %}


<!-- SUMMARY CARDS -->

<div class="history-stats">


    <div class="history-stat-card visits">

        <div class="stat-icon">
            <i class="fa-solid fa-calendar-days"></i>
        </div>

        <div>
            <h3>{{ total_visits }}</h3>
            <p>Total Visits</p>
        </div>

    </div>



    <div class="history-stat-card completed">

        <div class="stat-icon">
            <i class="fa-solid fa-circle-check"></i>
        </div>

        <div>
            <h3>{{ completed_visits }}</h3>
            <p>Completed Appointments</p>
        </div>

    </div>



    <div class="history-stat-card last">

        <div class="stat-icon">
            <i class="fa-solid fa-clock-rotate-left"></i>
        </div>

        <div>

            {% if last_visit %}

            <h3>
                {{ last_visit.appointment_date|date:"d M Y" }}
            </h3>

            {% else %}

            <h3>-</h3>

            {% endif %}

            <p>Last Visit</p>

        </div>

    </div>


</div>





<!-- APPOINTMENT HISTORY -->


<div class="history-container">


{% if appointments %}


{% for appointment in appointments %}


<div class="appointment-card">


    <div class="appointment-header">


        <h3>
            🩺 Consultation Visit
        </h3>


        <span>
            {{ appointment.appointment_date|date:"d M Y" }}
        </span>


    </div>




    <div class="appointment-body">


        <div class="history-info">

            <strong>
                Reason for Visit
            </strong>

            <p>
                {{ appointment.reason_for_visit }}
            </p>

        </div>



        <div class="history-info">

            <strong>
                Appointment Status
            </strong>


            {% if appointment.status == "completed" %}

            <span class="status status-completed">
                Completed
            </span>

            {% else %}

            <span class="status status-pending">
                {{ appointment.status|title }}
            </span>

            {% endif %}


        </div>


    </div>



</div>


{% endfor %}



{% else %}


<div class="empty-card">

    <i class="fa-solid fa-calendar-xmark"></i>

    <h3>
        No Appointment History
    </h3>

    <p>
        Your previous visits will appear here.
    </p>

</div>


{% endif %}


</div>



{% endblock %}