{% extends "patients/base_patient.html" %}
{% load static %}

{% block title %}
Medical Records
{% endblock %}

{% block page_title %}
Medical Records
{% endblock %}

{% block page_subtitle %}
Your consultation history.
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'patients/records.css' %}">
{% endblock %}

{% block content %}

{% if records %}

<div class="records-container">

    {% for record in records %}

    <div class="record-card">

        <div class="record-header">

            <h3>

                Consultation #{{ record.id }}

            </h3>

            <span>

                {{ record.created_at|date:"d M Y" }}

            </span>

        </div>

        <div class="record-body">

            <div class="info">

                <strong>Symptoms</strong>

                <p>{{ record.symptoms }}</p>

            </div>

            <div class="info">

                <strong>Observations</strong>

                <p>{{ record.observations|default:"-" }}</p>

            </div>

            <div class="info">

                <strong>Diagnosis</strong>

                <p>{{ record.diagnosis_notes }}</p>

            </div>

            <div class="info">

                <strong>Follow Up</strong>

                <p>{{ record.follow_up_notes|default:"-" }}</p>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% else %}

<div class="empty-card">

    <i class="fa-solid fa-file-medical"></i>

    <h3>No Medical Records Found</h3>

    <p>

        Your consultation records will appear here.

    </p>

</div>

{% endif %}

{% endblock %}