{% extends "patients/base_patient.html" %}
{% load static %}

{% block title %}
Medical Records
{% endblock %}


{% block page_title %}
🩺 Medical Records
{% endblock %}


{% block page_subtitle %}
Your complete consultation history
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'patients/records.css' %}">
{% endblock %}



{% block content %}


<!-- SEARCH -->

<div class="search-box">

    <form method="GET">

        <div class="search-input">

            <i class="fa-solid fa-search"></i>

            <input 
            type="text"
            name="q"
            placeholder="Search by diagnosis, symptoms or medicine..."
            value="{{ request.GET.q }}">


            <button type="submit">
                Search
            </button>

        </div>

    </form>

</div>



<!-- STATISTICS -->

<div class="record-stats">


    <div class="stat-card green">

        
        <div class="stat-icon">
    <i class="fa-solid fa-file-medical"></i>
</div>

        <div>
            <h3>
                {{ total_records }}
            </h3>

            <p>
                Total Records
            </p>
        </div>

    </div>



    <div class="stat-card green">

        <div class="stat-icon">
    <i class="fa-solid fa-calendar-check"></i>
</div>

        <div>

            <h3>

                {% if last_visit %}
                    {{ last_visit.created_at|date:"d M Y" }}
                {% else %}
                    -
                {% endif %}

            </h3>

            <p>
                Last Visit
            </p>

        </div>

    </div>




    <div class="stat-card green ">


        <div class="stat-icon">
    <i class="fa-solid fa-pills"></i>
</div>


        <div>

            <h3>
                {{ total_medicines }}
            </h3>

            <p>
                Total Medicines
            </p>

        </div>


    </div>


</div>





<!-- RECORD CARDS -->


{% if records %}


<div class="records-container">


{% for record in records %}



<div class="record-card">


    <div class="record-header">


        <span class="date">

            📅 {{ record.created_at|date:"d M Y" }}

        </span>


        <span class="status">

            🟢 Completed

        </span>


    </div>





    <div class="record-section">


        <h4>
            🩺 Diagnosis
        </h4>


        <p>
            {{ record.diagnosis_notes }}
        </p>


    </div>






    <div class="record-section">


        <h4>
            💊 Medicines
        </h4>



        <div class="medicine-list">


        {% for medicine in record.prescription_set.all %}


            <span class="medicine-tag">

                {{ medicine.medicine_name }}

            </span>


        {% empty %}


            <p>
                No medicines prescribed
            </p>


        {% endfor %}



        </div>


    </div>







    <div class="record-section">


        <h4>
            📝 Notes
        </h4>


        <p>

            {{ record.follow_up_notes|default:"No notes available" }}

        </p>


    </div>





</div>



{% endfor %}


</div>



{% else %}



<div class="empty-card">


<i class="fa-solid fa-file-medical"></i>


<h3>
No Medical Records Found
</h3>


<p>
Your consultation records will appear here.
</p>


</div>



{% endif %}



{% endblock %}