{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>HomeoCare Doctor Panel</title>

    <link rel="stylesheet"
          href="{% static 'doctor/base_doctor.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    {% block css %}
    {% endblock %}

</head>

<body>

<div class="layout">

    <aside class="sidebar">

        <div>

            <div class="logo">

                <div class="logo-icon">

                    <i class="fa-solid fa-user-doctor"></i>

                </div>

                <h2>HomeoCare</h2>

                <p>Doctor Panel</p>

            </div>

            <div class="divider"></div>

            <nav>

                <a href="{% url 'doctor_dashboard' %}">
                    <i class="fa-solid fa-chart-line"></i>
                    Dashboard
                </a>

                <a href="{% url 'patient_queue' %}">
                    <i class="fa-solid fa-users"></i>
                    Patient Queue
                </a>

                <a href="{% url 'medical_records' %}">
                    <i class="fa-solid fa-file-medical"></i>
                    Medical Records
                </a>

                <a href="{% url 'prescriptions' %}">
                    <i class="fa-solid fa-prescription-bottle-medical"></i>
                    Prescriptions
                </a>

            </nav>

        </div>

        <div>

            <div class="divider"></div>

            <nav>

                <a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout
                </a>

            </nav>

        </div>

    </aside>

    <main class="main">

        <header class="topbar">

            <div>

                <h1>

                    {% block page_title %}
                    Doctor Dashboard
                    {% endblock %}

                </h1>

                <span>
                    Welcome back Doctor
                </span>

            </div>

        </header>

        <div class="content">

            {% block content %}
            {% endblock %}

        </div>

    </main>

</div>

</body>
</html>