{% extends 'doctor/base_doctor.html' %}
{% load static %}

{% block page_title %}
Change Password
{% endblock %}


{% block css %}

<link rel="stylesheet"
href="{% static 'doctor/change_password.css' %}">

{% endblock %}



{% block content %}


<div class="change-password-page">



    <!-- ================= HEADER ================= -->


    <div class="password-header">


        <div>


            <span class="section-badge">

                Account Security

            </span>



            <h2>

                Change Password

            </h2>



            <p>

                Create a strong password to keep your HomeoCare doctor account secure.

            </p>


        </div>


    </div>





    <!-- ================= PASSWORD CARD ================= -->


    <div class="password-card">



        <div class="card-top">



            <div class="card-icon">


                <i class="fa-solid fa-lock"></i>


            </div>




            <div>


                <h3>

                    Update Password

                </h3>



                <p>

                    Your new password should be unique and difficult to guess.

                </p>


            </div>


        </div>





        {% if success %}


        <div class="success-message">


            <i class="fa-solid fa-circle-check"></i>


            {{ success }}


        </div>


        {% endif %}





        <div class="password-rules">



            <h4>


                <i class="fa-solid fa-shield-halved"></i>


                Password Requirements


            </h4>




            <ul>


                <li>
                    Minimum 8 characters long
                </li>


                <li>
                    Should not be similar to your username
                </li>


                <li>
                    Avoid common passwords
                </li>


                <li>
                    Should not contain only numbers
                </li>


                <li>
                    Use letters, numbers and symbols
                </li>


            </ul>


        </div>





        <form method="POST" class="password-form">


            {% csrf_token %}




            {% for field in form %}


            <div class="form-group">



                {{ field.label_tag }}



                {{ field }}




                {% if field.help_text %}


                    <small class="help-text">

                        {{ field.help_text }}

                    </small>


                {% endif %}





                {% for error in field.errors %}



                    <span class="field-error">


                        <i class="fa-solid fa-circle-exclamation"></i>


                        {{ error }}


                    </span>


                {% endfor %}



            </div>



            {% endfor %}





            <div class="form-actions">



                <a href="{% url 'doctor_settings' %}"
                   class="cancel-btn">


                    <i class="fa-solid fa-arrow-left"></i>


                    Back to Settings


                </a>





                <button
                    type="submit"
                    class="save-btn">



                    <i class="fa-solid fa-key"></i>



                    Update Password



                </button>




            </div>



        </form>



    </div>



</div>



{% endblock %}