{% extends 'doctor/base_doctor.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet"
href="{% static 'doctor/change_password.css' %}">
{% endblock %}
{% block page_title %}
Change Password
{% endblock %}

{% block content %}

<div class="settings-card">

    <h2>Change Password</h2>

    <form method="POST">

        {% csrf_token %}
        {% if form.errors %}
         <div class="error-box">

           {{ form.errors }}

        </div>
        {% endif %}
        {{ form.as_p }}

        <button
            type="submit"
            class="save-btn">

            Update Password

        </button>

    </form>

</div>

{% endblock %}