{% extends 'doctor/base_doctor.html' %}
{% load static %}

{% block page_title %}
Create Medical History
{% endblock %}

{% block css %}
<link rel="stylesheet"
href="{% static 'doctor/create_history.css' %}">
{% endblock %}

{% block content %}

<div class="history-container">

    <div class="history-card">

        <h2>🩺 Create Medical History</h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="save-btn">

                Save History

            </button>

        </form>

    </div>

</div>

{% endblock %}