{% extends 'doctor/base_doctor.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet"
href="{% static 'doctor/dashboard.css' %}">
{% endblock %}

{% block page_title %}
Doctor Dashboard
{% endblock %}

{% block content %}


<div class="stats-grid">

    <div class="stat-card">

        <i class="fa-solid fa-user-clock"></i>

        <h3>Waiting Patients</h3>

        <h1>{{ waiting_patients }}</h1>

    </div>

    <div class="stat-card">

        <i class="fa-solid fa-stethoscope"></i>

        <h3>Consulting</h3>

        <h1>{{ consulting_patients }}</h1>

    </div>

    <div class="stat-card">

        <i class="fa-solid fa-circle-check"></i>

        <h3>Completed Today</h3>

        <h1>{{ completed_today }}</h1>

    </div>

    <div class="stat-card">

        <i class="fa-solid fa-file-medical"></i>

        <h3>Total Records</h3>

        <h1>{{ total_records }}</h1>

    </div>

</div>
<div class="overview-section">

    <div class="overview-card">

        <h2>📊 Clinic Health Overview</h2>

        <div class="overview-grid">

            <div class="overview-box">

                <h3>Most Common Symptoms Today</h3>

                <ul>
                    {% for symptom in common_symptoms %}
                        <li>{{ symptom }}</li>
                    {% empty %}
                        <li>No data available</li>
                    {% endfor %}
                </ul>

            </div>

            <div class="overview-box">

                <h3>Most Prescribed Medicines</h3>

                <ul>
                    {% for medicine in common_medicines %}
                        <li>{{ medicine }}</li>
                    {% empty %}
                        <li>No data available</li>
                    {% endfor %}
                </ul>

            </div>

        </div>

    </div>

</div>
{% endblock %}