{% extends 'doctor/base_doctor.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet"
href="{% static 'doctor/edit_profile.css' %}">
{% endblock %}
{% block page_title %}
Edit Profile
{% endblock %}

{% block content %}

<div class="settings-card">

    <h2>Edit Profile</h2>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="save-btn">

            Save Changes

        </button>

    </form>

</div>

{% endblock %}