{% extends 'doctor/base_doctor.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet"
href="{% static 'doctor/patient_queue.css' %}">
{% endblock %}

{% block page_title %}
Patient Queue
{% endblock %}

{% block content %}

<div class="filter-bar">

    <a href="?"
       class="filter-btn {% if not selected_status %}active-filter{% endif %}">
        All Patients
    </a>

    <a href="?status=waiting"
       class="filter-btn {% if selected_status == 'waiting' %}active-filter{% endif %}">
        Waiting
    </a>

    <a href="?status=completed"
       class="filter-btn {% if selected_status == 'completed' %}active-filter{% endif %}">
        Completed
    </a>

</div>
<div class="table-card">

    <table>

        <thead>

            <tr>

                <th>Queue</th>

                <th>Patient</th>

                <th>Patient ID</th>

                <th>Date</th>

                <th>Status</th>

                <th>Action</th>

            </tr>

        </thead>

        <tbody>

        {% for appointment in appointments %}

            <tr>

                <td>{{ forloop.counter }}</td>

                <td>{{ appointment.patient.full_name }}</td>

                <td>{{ appointment.patient.patient_id }}</td>

                <td>{{ appointment.appointment_date }}</td>

                <td> 
                        {% if appointment.status == "completed" %}

                            <span class="completed-badge">
                               Completed
                            </span>

                        {% else %}
                        <span class="waiting-badge">
                             Waiting
                        </span>

                         {% endif %}

               </td>

                <td>
                    <a href="{% url 'consultation' appointment.id %}"
                    class="open-btn">

                        Open

                    </a>

                </td>

            </tr>

        {% empty %}

            <tr>

                <td colspan="6">

                    No waiting patients.

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}