{% extends 'receptionist/base_receptionist.html' %}
{% load static %}

{% block page_title %}
Appointment History
{% endblock %}
{% block css %}
<link rel="stylesheet"
href="{% static 'appointments/history.css' %}">
{% endblock %}
{% block content %}

<form method="GET" class="search-form">

    <input
        type="text"
        name="search"
        placeholder="Search by Patient Name or Patient ID"
        value="{{ request.GET.search }}"
    >

    <button type="submit">
        Search
    </button>

</form>
<div class="history-card">

    <table>

        <thead>

            <tr>

                <th>Date</th>
                <th>Patient Name</th>
                <th>Patient ID</th>
                <th>Reason For Visit</th>
                <th>Status</th>

            </tr>

        </thead>

        <tbody>

            {% for appointment in appointments %}

            <tr>

                <td>
                    {{ appointment.appointment_date }}
                </td>

                <td>
                    {{ appointment.patient.full_name }}
                </td>

                <td>
                    {{ appointment.patient.patient_id }}
                </td>

                <td>
                    {{ appointment.reason_for_visit }}
                </td>

                <td>

                    {% if appointment.status == "completed" %}

                        <span class="completed-badge">
                            Completed
                        </span>

                    {% elif appointment.status == "cancelled" %}

                        <span class="cancelled-badge">
                            Cancelled
                        </span>

                    {% else %}

                        <span class="pending-badge">
                            {{ appointment.status }}
                        </span>

                    {% endif %}

                </td>

            </tr>

            {% empty %}

            <tr>

                <td colspan="5">

                    No Appointment History Found

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}