{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>HomeoCare</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/appointment.css' %}">
    <link rel="stylesheet" href="{% static 'css/patient_status.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
</head>
<body>

    {% include 'components/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'components/footer.html' %}

</body>
</html>