<nav class="navbar">

    <div class="logo">
        <img src="" alt="HomeoCare Logo">
        <span>HomeoCare</span>
    </div>

    <ul class="nav-links">

        <li><a href="{% url 'home' %}">Home</a></li>

        <li><a href="{% url 'about' %}">About</a></li>

        <li><a href="{% url 'services' %}">Services</a></li>

        <li><a href="{% url 'patient_status' %}">Patient Status</a></li>

        <li><a href="{% url 'book_appointment' %}">Book Appointment</a></li>

    </ul>
     <a href="#contact" class="contact-btn">
                
        Contact
    </a>

</nav>