{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

<section class="contact-hero">

    <div class="hero-bg-circle circle-1"></div>
    <div class="hero-bg-circle circle-2"></div>

    <div class="container">

        <span class="hero-tag">
            Contact HomeoCare
        </span>

        <h1>
            We're Here To
            <span>Help You</span>
        </h1>

        <p>
            Have questions about appointments, treatments or patient services?
            Our team is always ready to assist you.
        </p>

    </div>

</section>

<section class="contact-section">
<div class="container">
<div class="contact-info">

<div class="info-card">

<div class="icon-box">
    <i class="fa-solid fa-phone"></i>
</div>

<h3>Call Us</h3>

<p>{{ settings.phone }}</p>

</div>

<div class="info-card">
<div class="icon-box">
    <i class="fa-solid fa-envelope"></i>
</div>


<h3>Email Address</h3>

<p>{{ settings.email }}</p>

</div>

<div class="info-card">
<div class="icon-box">
    <i class="fa-solid fa-location-dot"></i>
</div>


<h3>Visit Clinic</h3>

<p>{{ settings.address }}</p>

</div>

<div class="info-card">
<div class="icon-box">
    <i class="fa-solid fa-clock"></i>
</div>


<h3>Clinic Hours</h3>

<p>

{{ settings.opening_time|time:"h:i A" }}
-

{{ settings.closing_time|time:"h:i A" }}

</p>

</div>

</div>

<div class="map-card">

<iframe
src="{{ settings.google_map_link }}"
allowfullscreen
loading="lazy">
</iframe>

</div>
</div>
</section>



{% endblock %}