{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="status-hero">

    <h1>Patient Status</h1>

    <p>
        Check your appointment status and treatment updates.
    </p>

</section>

<section class="status-section">

    <div class="status-container">

        <div class="status-form-card">

            <h2>Check Appointment Status</h2>

            <form method="POST">
                {%csrf_token%}

                <div class="form-row">

                    <div class="form-group">
                        <label>Patient ID</label>
                        <input type="text"name="patient_id" placeholder="Enter Patient ID" required>
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="tel" name="phone" placeholder="Enter Phone Number"required>
                    </div>

                </div>

                <button type="submit" class="status-btn">
                    Check Status
                </button>

            </form>

        </div>

        <!-- Sample Status Card -->
     {% if appointment %}
{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}
<div class="status-result-card">

    <h2>Appointment Information</h2>

    <div class="status-grid">

        <div class="status-item">
            <span>Patient Name</span>
            <strong>{{ appointment.patient.full_name }}</strong>
        </div>

        <div class="status-item">
            <span>Status</span>
            <strong class="{{ appointment.status }}">
                {{ appointment.status|title }}
            </strong>
        </div>

        <div class="status-item">
            <span>Appointment Date</span>
            <strong>{{ appointment.appointment_date }}</strong>
        </div>

        <div class="status-item">
            <span>Reason</span>
            <strong>{{ appointment.reason_for_visit }}</strong>
        </div>

        </div>

     </div>

       {% endif %}
        

    

    </div>

</section>

{% endblock %}